# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
rice_plant_venv/
venv/
.env

# Dataset
.dataset_cache/

# Outputs
outputs/checkpoints/
outputs/logs/
outputs/predictions/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

dataset/raw
dataset/splits
dataset/text_metadata
dataset/metadata

pipeline.md

src/datasets/EDA/check_gen_text.py
src/datasets/EDA/edit_text_data.py

SLIDE_REPORT.md

configs/config.yaml

uploadsconfigs/config.yaml
outputs/csv/*.csv
